<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">VIO.DbMigration</label>
    <label>VIO.DbMigration</label>
    <version>2.0.0</version>
    <copyright>(c) by VIOSYS AG</copyright>
    <license>proprietary</license>
    <link>https://www.viosys.com</link>
    <author>VIOSYS AG</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="2.0.0">
        <changes lang="de">Versionnummer wird nun in DB-Tabelle gespeichert und nicht mehr in version.txt</changes>
    </changelog>
    <changelog version="1.5.1">
        <changes lang="de">Eingefügte Textbausteine werden nun als bearbeitet markiert</changes>
    </changelog>
    <changelog version="1.5.0">
        <changes lang="de">Fehler im Dependency Manager behoben</changes>
    </changelog>
    <changelog version="1.4.0">
        <changes lang="de">Fehler im Deployskript behoben</changes>
    </changelog>
    <changelog version="1.3.0">
        <changes lang="de">Deployskript hinzugefügt</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="de">Migrationsnamespace und Verzeichnis konfigurierbar gemacht</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Container in Migrationsscript verfügbar gemacht</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>